<!DOCTYPE html>
<html ng-app>
	<head>
		<link href="/stylesheets/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body ng-controller="TareaController">
		<div id="tareaListado">
			<header>
				<h1>Tareas</h1>
				<form ng-submit="agregarTarea()">
					<input id="new-todo" type="text" placeholder="¿Qué hay que hacer?" ng-model="tareaTexto">
				</form>
			</header>
			<section id="todos">
				<ul id="listado">
					<li ng-repeat="tarea in tareas">
						<div class="tareaVista">
							<input type="checkbox" ng-model="tarea.hecho">
							<label class="hecho-{{ tarea.hecho }}">{{ tarea.descripcion }}</label>
							<a class="eliminar" href="#" ng-click="eliminar(tarea);">&#xD7;</a>
						</div>
					</li>
				</ul>
			</section>
			<footer>
				<span>
					<ng-pluralize count="restantes()" when="{'0': 'No hay nada!', 'one': '1 ítem restante', 'other': '{} ítemes restantes'}"></ng-pluralize>
				</span>
			</footer>
		</div>
		<script src="/vendor/angular/angular.min.js" type="text/javascript"></script>
		<script src="/javascripts/tarea.js" type="text/javascript"></script>
	</body>
</html>